:global(.file-explorer) {
  box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2),0px 1px 1px 0px rgba(0,0,0,0.14),0px 1px 3px 0px rgba(0,0,0,0.12);
  border-radius: 4px;
  min-height: 150px;
  border: 0
}

:global(.file-explorer .toolbar) {
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  min-height: 46px;
  background-color: #fcfcfc;
}

:global(.file-explorer .breadcrumb) {
  padding-top: 10px;
  min-height: 36px;
}

:global(.file-explorer .statusbar) {
  height: 20px;
}

:global(.file-explorer .file-item) {
  padding-top: 4px;
  font-size: 14px;
}

:global(.file-explorer .sb-folder-name) {
  font-size: 14px;
}

:global(.file-explorer .folder-name) {
  font-size: 14px;
}

:global(.file-explorer .sb-folders-list)::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

:global(.file-explorer .files)::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

:global(.file-explorer .files) {
  padding: 2px;
  column-gap: 2px;
  row-gap: 2px;
}

:global(.file-explorer .files .file-item .selection-checkbox) {
  top: 6px;
}

:global(.file-explorer .files .file-item-container) {
  margin: 0 0;
}